.answer{
  display:none;
}
.answer.active{
  display:block;
}
.icon{
  pointer-events: none;
}
.faq{
   height: 80px;
   background-image: url(./background-pattern-desktop.svg);
   border: 2px solid black;
   padding: 100px;
     
}
.faq1{
 
  height: 70vh;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(182, 169, 169);
  background-color: white;
  margin-left: 450px;
  border-radius: 20px;
  padding: 20px;
  
}
.item{
   font-size: 14px;
   line-height: 22px;
}
.answer{
  margin-top: 10px;
  margin-bottom: 10px;
}
.question{
  font-weight: bold;
  
}
  
  
 
